.wrapper .img-basket {
    background-image: url(./assets/корзина\ \(2\).svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 360px;
    height: 103px;
    margin-top: 3%;
}


.wrapper .wrapper-basket {
    display: grid;
    grid-template-columns: repeat(2, 565px);
    grid-auto-rows: max-content;
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    margin-bottom: 10%;
}

.wrapper .wrapper-basket .product {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 400px;
}

.wrapper .wrapper-basket .product .product-img {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 175px;
}

.block-info{
    display: flex;
}


.wrapper .wrapper-basket .product .product-info h2 {
    font: 600 16px 'Montserrat';
    color: #000000;
    margin-top: 25px;
}

.wrapper .wrapper-basket .productt .product-info .size {
    font: 400 14px 'Montserrat';
    color: #1F1F1F;
    margin-top: 35px;
}

.wrapper .wrapper-basket .product .product-info .price {
    font: 700 16px 'Montserrat';
    color: #FDA3C4;
    margin-top: 35px;
}

.wrapper .wrapper-basket .product .product-delete {
    background-image: url(./assets/delete.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-left: 7%;
}


.wrapper .total-quantity, .total-count{
    display: flex;
    justify-content: space-between;
}

.wrapper.total-quantity, .total-count p{
    font: 400 16px 'Montserrat';
    color: #1F1F1F;
    margin-top: 30px;
}

.wrapper .total-quantity .quantity{
    font: 700 16px 'Montserrat';
    color: #FDA3C4;
}

.wrapper .total-quantity .count{
    font: 700 16px 'Montserrat';
    color:  #1F1F1F;
}

.wrapper .btn {
    background-image: url(./assets/кнопка.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 240px;
    height: 53px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 80px;
    cursor: pointer;
}