.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.wrapper .logo {
    background-image: url(./assets/logo\ \(1\).svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.wrapper nav {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.wrapper nav p {
    width: 20%;
    text-align: end;
    font: 400 16px 'Montserrat';
    color: #000000;
    cursor: pointer;
}